.card{
  width: 18rem;
  align-items:center;
  margin-top: 3rem;
  height: 30rem;
  width: 30rem;
}

.card-title{
  text-align:center;
  font-weight:600;
  font-size: 30px;
}

h5{
  margin: 20px;
  text-align: center;
}

h4{
  text-align:center;
  font-family: 'Times New Roman', Times, serif;
  font-weight:bold;
}
